/*全局样式*/
/*优先级描述：
important > 内联 > ID > 类 > 标签 | 伪类 | 属性选择 > 伪对象 > 继承 > 通配符 通配符 > 继承*/

caption {
	text-align: left;
	padding: 5px 10px;
	font-size: 15px;
	color: #66CC99;
}
.page table {
	text-align: center;
	margin: 5px 20px;
	width: 80%;	
}
.page td {
	font-size: 12px;	
}
.page td > input[type="button"] {
	margin: 0;
	padding: 0;
	width: 40px;	
}

.bordered td > button {
	margin: 0;
	padding: 3px 8px;
	color: #fff;
	font-size: 14px;
	/*字体的粗细*/
	/*行高*/
	text-align: center;
	/*文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。*/
	white-space: nowrap;
	vertical-align: middle;
	/*光标小手形*/
	cursor: pointer;
	border: 1px solid transparent;
	-moz-border-radius: 4px; /* Firefox */
  	-webkit-border-radius: 4px; /* Safari 和 Chrome */
  	border-radius: 4px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	/*文本不能被选择*/
	user-select: none;
}


/*========bordered table========*/
.zebra,
.bordered {
	margin: 0px 3%;
	width: 85%;
	border: solid #ccc 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.detailsPageTable {
	table-layout: fixed;
}


.detailsPageTable td {
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
}

.zebra tr,
.bordered tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.zebra .highlight,
.bordered .highlight,
.bordered tr:hover {
	background: #fbf8e9;
}

.zebra td,
.bordered td {
	height: 36px;
	white-space:nowrap;/* 不换行 */
	/* word-break:keep-all;不换行 */
	/* overflow:hidden;内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用*/
	
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 3px 5px;
	/*行高*/
	text-align: center;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
}


.zebra th,
.bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 7px 5px;
	text-align: center;
	font-size: 13px;
	white-space: nowrap;
	vertical-align: middle;
}

.zebra th,
.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.zebra td:first-child,
.zebra th:first-child,
.bordered td:first-child,
.bordered th:first-child {
	border-left: none;
}

.zebra th:first-child,
.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.zebra th:last-child,
.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.zebra tr:last-child td:first-child
.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.zebra tr:last-child td:last-child
.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}


/*----------------------*/



/* even:指定奇数行  odd:指定偶数行 */
.zebra tbody tr:not(.selectTr):nth-child(even) {
	background: #f5f5f5;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

.selectTr {
	background: rgb(102, 204, 102);
}

tr[sel="sel"] {
	background-color: rgb(102, 204, 102);
	/* background-color: #fbf8e9; */
}