<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehaoyao.cfy.mapper.operationcenter.OrderAuditLogMapper" >
  <resultMap id="BaseResultMap" type="com.ehaoyao.cfy.model.operationcenter.OrderAuditLog" >
    <id column="order_audit_log_id" property="orderAuditLogId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="kf_account" property="kfAccount" jdbcType="VARCHAR" />
    <result column="audit_user" property="auditUser" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="audit_description" property="auditDescription" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_audit_log_id, order_number, order_flag, kf_account, audit_user, audit_status, 
    audit_description, remark, create_time
  </sql>
  
  
  
  <!-- ................................................................................................................. -->
  
  
  <!-- 
  	查询order_info表部分
   -->
  <resultMap id="OrderInfoResultMap" type="com.ehaoyao.cfy.model.operationcenter.OrderInfo" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="prescription_type" property="prescriptionType" jdbcType="CHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="invoice_status" property="invoiceStatus" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="patient_name" property="patientName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="pregnant_flag" property="pregnantFlag" jdbcType="CHAR" />
    <result column="decoct_flag" property="decoctFlag" jdbcType="CHAR" />
    <result column="dose" property="dose" jdbcType="VARCHAR" />
    <result column="small_pic_link" property="smallPicLink" jdbcType="VARCHAR" />
    <result column="big_pic_link" property="bigPicLink" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="VARCHAR" />
    <result column="delivery_date" property="deliveryDate" jdbcType="VARCHAR" />
    <result column="hospital_presc_date" property="hospitalPrescDate" jdbcType="VARCHAR" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="over_return_free" property="overReturnFree" jdbcType="DECIMAL" />
    <result column="express_price" property="expressPrice" jdbcType="DECIMAL" />
    <result column="plat_pay_price" property="platPayPrice" jdbcType="DECIMAL" />
    <result column="instructions" property="instructions" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="shipping_type" property="shippingType" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="OrderInfo_Column_List" >
    order_id, order_number, order_flag, user_id, user_code, nick_name, user_name, prescription_type, 
    order_status, audit_status, invoice_status, pay_status, order_type, pay_type, order_time, 
    receiver, patient_name, sex, age, pregnant_flag, decoct_flag, dose, small_pic_link, 
    big_pic_link, payment_time, delivery_date, hospital_presc_date, address_detail, mobile, 
    telephone, province, city, area, country, price, order_price, discount_amount, over_return_free, 
    express_price, plat_pay_price, instructions, remark, fee_type, last_time, create_time, 
    shipping_type
  </sql>
  
  <select id="selectOrderInfo" resultMap="OrderInfoResultMap" parameterType="java.util.Map">
      select 
		<include refid="OrderInfo_Column_List" />
	from order_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="orderNumber !=null and orderNumber !='' ">
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
    </trim>
  </select>
  
  
  <!-- 
  	查询order_detail表部分
   -->
  <resultMap id="OrderDetailResultMap" type="com.ehaoyao.cfy.model.operationcenter.OrderDetail" >
    <id column="order_detail_id" property="orderDetailId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="product_spec" property="productSpec" jdbcType="VARCHAR" />
    <result column="product_brand" property="productBrand" jdbcType="VARCHAR" />
    <result column="pack_count" property="packCount" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="gift_flag" property="giftFlag" jdbcType="CHAR" />
    <result column="prescription_type" property="prescriptionType" jdbcType="CHAR" />
    <result column="product_license_no" property="productLicenseNo" jdbcType="VARCHAR" />
    <result column="pharmacy_company" property="pharmacyCompany" jdbcType="VARCHAR" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="OrderDetail_Column_List" >
    order_detail_id, order_number, order_flag, merchant_id, product_id, product_name, 
    total_price, product_spec, product_brand, pack_count, count, price, unit, gift_flag, 
    prescription_type, product_license_no, pharmacy_company, discount_amount, create_time, 
    last_time
  </sql>
  
  <select id="selectOrderDetail" resultMap="OrderDetailResultMap" parameterType="java.util.Map">
      select 
		<include refid="OrderDetail_Column_List" />
	from order_detail
    <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="orderNumber !=null and orderNumber !='' ">
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
    </trim>
  </select>
  
  
  <!-- 
  	查询order_detail_thirdparty表部分
   -->
  <resultMap id="OrderDetailThirdPartyResultMap" type="com.ehaoyao.cfy.model.operationcenter.OrderDetailThirdParty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="thirdparty_total_price" property="thirdpartyTotalPrice" jdbcType="DECIMAL" />
    <result column="thirdparty_group_price" property="thirdpartyGroupPrice" jdbcType="DECIMAL" />
    <result column="ehaoyao_group_price" property="ehaoyaoGroupPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="OrderDetailThirdParty_Column_List" >
    id, order_number, order_flag, group_id, group_name, count, thirdparty_total_price, 
    thirdparty_group_price, ehaoyao_group_price
  </sql>
  
  <select id="selectOrderDetailThirdParty" resultMap="OrderDetailThirdPartyResultMap" parameterType="java.util.Map">
      select 
		<include refid="OrderDetailThirdParty_Column_List" />
	from order_detail_thirdparty
    <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="orderNumber !=null and orderNumber !='' ">
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
    </trim>
  </select>
  
  
  <!-- 
  	查询invoice_info表部分
   -->
  <resultMap id="InvoiceInfoResultMap" type="com.ehaoyao.cfy.model.operationcenter.InvoiceInfo" >
    <id column="invoice_id" property="invoiceId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="kf_account" property="kfAccount" jdbcType="VARCHAR" />
    <result column="invoice_status" property="invoiceStatus" jdbcType="VARCHAR" />
    <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="invoice_content" property="invoiceContent" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="InvoiceInfo_Column_List" >
    invoice_id, order_number, order_flag, kf_account, invoice_status, invoice_type, invoice_title, 
    invoice_content, remark, create_time
  </sql>
  
  <select id="selectInvoiceInfo" resultMap="InvoiceInfoResultMap" parameterType="java.util.Map">
      select 
		<include refid="InvoiceInfo_Column_List" />
	from invoice_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="orderNumber !=null and orderNumber !='' ">
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
		order by create_time desc limit 0,1
    </trim>
  </select>
  
  
  
  
  <!-- order_info/order_audit_log/invoice_info/order_detail 返回一笔订单所有最新信息结果集 -->
  <resultMap id="OrderMainInfoResultMap" type="com.ehaoyao.cfy.vo.operationcenter.OrderMainInfo" >
      <id column="order_audit_log_id" property="orderAuditLogId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="kf_account" property="kfAccount" jdbcType="VARCHAR" />
    <result column="audit_user" property="auditUser" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="audit_description" property="auditDescription" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    
    <association property="orderInfo" column="{orderFlag=order_flag,orderNumber=order_number}" select="selectOrderInfo"></association>
    <association property="invoiceInfo" column="{orderFlag=order_flag,orderNumber=order_number}" select="selectInvoiceInfo"></association>
    <collection property="orderDetailList" ofType="com.ehaoyao.cfy.model.operationcenter.OrderDetail" column="{orderFlag=order_flag,orderNumber=order_number}" select="selectOrderDetail"></collection>
    <collection property="orderDetailThirdPartyList" ofType="com.ehaoyao.cfy.model.operationcenter.OrderDetailThirdParty" column="{orderFlag=order_flag,orderNumber=order_number}" select="selectOrderDetailThirdParty"></collection>
  </resultMap>
  
  
  <select id="selectOrderMainInfo"  resultMap="OrderMainInfoResultMap" parameterType="com.ehaoyao.cfy.vo.operationcenter.OrderInfoVo">
      select
     <include refid="Base_Column_List" />
    from order_audit_log 
    <trim prefix="WHERE" prefixOverrides="AND|OR">
	    <if test="orderNumber !=null and orderNumber !='' ">
			<!-- and order_number like CONCAT('%','${orderNumber}','%' ) -->
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
		<if test="auditStatus !=null and auditStatus !='' ">
			and audit_status = #{auditStatus,jdbcType=VARCHAR}
		</if>
		<if test="auditTimeStart !=null and auditTimeStart !='' ">
			and create_time &gt;= #{auditTimeStart,jdbcType=VARCHAR}
		</if>
		<if test="auditTimeEnd !=null and auditTimeEnd !='' ">
			and create_time &lt;= #{auditTimeEnd,jdbcType=VARCHAR}
		</if>
		 order by create_time desc 
		 <if test="count !=null and pageSize !=null ">
			limit #{count,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
    </trim>
  </select>
  
  
  
  
  
  
  
  
  
  
  
  <!-- ................................................................................................................. -->
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_audit_log
    where order_audit_log_id = #{orderAuditLogId,jdbcType=BIGINT}
  </select>
  
  <!-- 根据条件查询 -->
  <select id="selectByConditionMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from order_audit_log
    <trim prefix="WHERE" prefixOverrides="AND|OR">
	    <if test="orderNumber !=null and orderNumber !='' ">
			<!-- and order_number like CONCAT('%','${orderNumber}','%' ) -->
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
		<if test="auditStatus !=null and auditStatus !='' ">
			and audit_status = #{auditStatus,jdbcType=VARCHAR}
		</if>
		<if test="auditTimeStart !=null and auditTimeStart !='' ">
			and create_time &gt;= #{auditTimeStart,jdbcType=VARCHAR}
		</if>
		<if test="auditTimeEnd !=null and auditTimeEnd !='' ">
			and create_time &lt;= #{auditTimeEnd,jdbcType=VARCHAR}
		</if>
		 order by create_time desc ,order_number desc
    </trim>
  </select>
  
    <!-- 根据条件查询 -->
  <select id="selectByLastAudit"  resultMap="BaseResultMap" parameterType="com.ehaoyao.cfy.vo.operationcenter.OrderInfoVo" >
    select 
    <include refid="Base_Column_List" />
    from order_audit_log
    <trim prefix="WHERE" prefixOverrides="AND|OR">
	    <if test="orderNumber !=null and orderNumber !='' ">
			and order_number = #{orderNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderFlag !=null and orderFlag !='' ">
			and order_flag = #{orderFlag,jdbcType=VARCHAR}
		</if>
		<if test="auditStatus !=null and auditStatus !='' ">
			and audit_status = #{auditStatus,jdbcType=VARCHAR}
		</if>
		 order by create_time desc limit 0,1 
    </trim>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_audit_log
    where order_audit_log_id = #{orderAuditLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ehaoyao.cfy.model.operationcenter.OrderAuditLog" >
    insert into order_audit_log (order_audit_log_id, order_number, order_flag, 
      kf_account, audit_user, audit_status, 
      audit_description, remark, create_time
      )
    values (#{orderAuditLogId,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{orderFlag,jdbcType=VARCHAR}, 
      #{kfAccount,jdbcType=VARCHAR}, #{auditUser,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, 
      #{auditDescription,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ehaoyao.cfy.model.operationcenter.OrderAuditLog" >
    insert into order_audit_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderAuditLogId != null" >
        order_audit_log_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderFlag != null" >
        order_flag,
      </if>
      <if test="kfAccount != null" >
        kf_account,
      </if>
      <if test="auditUser != null" >
        audit_user,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditDescription != null" >
        audit_description,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderAuditLogId != null" >
        #{orderAuditLogId,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
        #{orderFlag,jdbcType=VARCHAR},
      </if>
      <if test="kfAccount != null" >
        #{kfAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditDescription != null" >
        #{auditDescription,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ehaoyao.cfy.model.operationcenter.OrderAuditLog" >
    update order_audit_log
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
        order_flag = #{orderFlag,jdbcType=VARCHAR},
      </if>
      <if test="kfAccount != null" >
        kf_account = #{kfAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        audit_user = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditDescription != null" >
        audit_description = #{auditDescription,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where order_audit_log_id = #{orderAuditLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ehaoyao.cfy.model.operationcenter.OrderAuditLog" >
    update order_audit_log
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      order_flag = #{orderFlag,jdbcType=VARCHAR},
      kf_account = #{kfAccount,jdbcType=VARCHAR},
      audit_user = #{auditUser,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      audit_description = #{auditDescription,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where order_audit_log_id = #{orderAuditLogId,jdbcType=BIGINT}
  </update>
</mapper>