<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehaoyao.cfy.mapper.operationcenter.ParamConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ehaoyao.cfy.model.operationcenter.ParamConfig" >
    <id column="param_config_id" property="paramConfigId" jdbcType="BIGINT" />
    <result column="param_type" property="paramType" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="param_status" property="paramStatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    param_config_id, param_type, param_name, param_value, param_status, remark, last_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from param_config
    where param_config_id = #{paramConfigId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from param_config
    where param_config_id = #{paramConfigId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ehaoyao.cfy.model.operationcenter.ParamConfig" >
    insert into param_config (param_config_id, param_type, param_name, 
      param_value, param_status, remark, 
      last_time, create_time)
    values (#{paramConfigId,jdbcType=BIGINT}, #{paramType,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, 
      #{paramValue,jdbcType=VARCHAR}, #{paramStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ehaoyao.cfy.model.operationcenter.ParamConfig" >
    insert into param_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paramConfigId != null" >
        param_config_id,
      </if>
      <if test="paramType != null" >
        param_type,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="paramStatus != null" >
        param_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paramConfigId != null" >
        #{paramConfigId,jdbcType=BIGINT},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramStatus != null" >
        #{paramStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ehaoyao.cfy.model.operationcenter.ParamConfig" >
    update param_config
    <set >
      <if test="paramType != null" >
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramStatus != null" >
        param_status = #{paramStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where param_config_id = #{paramConfigId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ehaoyao.cfy.model.operationcenter.ParamConfig" >
    update param_config
    set param_type = #{paramType,jdbcType=VARCHAR},
      param_name = #{paramName,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      param_status = #{paramStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where param_config_id = #{paramConfigId,jdbcType=BIGINT}
  </update>
</mapper>