body {padding-top:52px;}
.navbar {position:absolute; top:0; width:100%; z-index:1000;}
.visible-pc {display:block;}
.visible-mobile {display:none;}
.aside {position:absolute; top:52px; z-index:900;}
.aside .aside-link {position:relative; float:left; width:250px; height:100%; background:#f5f5f5;}
.aside .aside-link .aside-link-block {margin:15px 0;}
.aside .aside-link .aside-link-block h4 {cursor:pointer;}
.aside .aside-link .aside-link-block h4 span {margin:0 5px;}
.aside .aside-link .aside-link-block .sub {display:none;}
.aside .aside-link a {display:block; padding:5px 10px; border-left:3px solid #f5f5f5; text-decoration:none;}
.aside .aside-link a:hover {border-left-color:#ed9c28;}
.aside .aside-btn {
	display:none;
	float:left;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:28px;
}
.main {margin-left:250px; padding:20px;}

.navbar-brand {padding:0 10px;}
.navbar-brand img {height:50px;}
.breadcrumb {padding:8px 0; background-color:#FFFFFF;}

@media (max-width: 767px) {
	.aside .aside-link {display:none; overflow:hidden;}
	.aside .aside-btn {display:block;}
	.visible-pc {display:none;}
	.visible-mobile {display:block;}
	.main {margin-left:50px; padding:10px;}
}