<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehaoyao.cfy.mapper.ordercenter.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ehaoyao.cfy.model.ordercenter.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="order_flag" property="orderFlag" jdbcType="VARCHAR" />
    <result column="products_promo_id" property="productsPromoId" jdbcType="VARCHAR" />
    <result column="discount_amount" property="discountAmount" jdbcType="VARCHAR" />
    <result column="djbh_id" property="djbhId" jdbcType="VARCHAR" />
    <result column="eflag" property="eflag" jdbcType="VARCHAR" />
    <result column="spid" property="spid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_number, merchant_id, total_price, count, product_id, unit, product_name, 
    price, order_flag, products_promo_id, discount_amount, djbh_id, eflag, spid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ehaoyao.cfy.model.ordercenter.OrderDetail" >
    insert into order_detail (id, order_number, merchant_id, 
      total_price, count, product_id, 
      unit, product_name, price, 
      order_flag, products_promo_id, discount_amount, 
      djbh_id, eflag, spid
      )
    values (#{id,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=DOUBLE}, #{count,jdbcType=DOUBLE}, #{productId,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{orderFlag,jdbcType=VARCHAR}, #{productsPromoId,jdbcType=VARCHAR}, #{discountAmount,jdbcType=VARCHAR}, 
      #{djbhId,jdbcType=VARCHAR}, #{eflag,jdbcType=VARCHAR}, #{spid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ehaoyao.cfy.model.ordercenter.OrderDetail" >
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="orderFlag != null" >
        order_flag,
      </if>
      <if test="productsPromoId != null" >
        products_promo_id,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="djbhId != null" >
        djbh_id,
      </if>
      <if test="eflag != null" >
        eflag,
      </if>
      <if test="spid != null" >
        spid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderFlag != null" >
        #{orderFlag,jdbcType=VARCHAR},
      </if>
      <if test="productsPromoId != null" >
        #{productsPromoId,jdbcType=VARCHAR},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=VARCHAR},
      </if>
      <if test="djbhId != null" >
        #{djbhId,jdbcType=VARCHAR},
      </if>
      <if test="eflag != null" >
        #{eflag,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ehaoyao.cfy.model.ordercenter.OrderDetail" >
    update order_detail
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderFlag != null" >
        order_flag = #{orderFlag,jdbcType=VARCHAR},
      </if>
      <if test="productsPromoId != null" >
        products_promo_id = #{productsPromoId,jdbcType=VARCHAR},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=VARCHAR},
      </if>
      <if test="djbhId != null" >
        djbh_id = #{djbhId,jdbcType=VARCHAR},
      </if>
      <if test="eflag != null" >
        eflag = #{eflag,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        spid = #{spid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ehaoyao.cfy.model.ordercenter.OrderDetail" >
    update order_detail
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      count = #{count,jdbcType=DOUBLE},
      product_id = #{productId,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      order_flag = #{orderFlag,jdbcType=VARCHAR},
      products_promo_id = #{productsPromoId,jdbcType=VARCHAR},
      discount_amount = #{discountAmount,jdbcType=VARCHAR},
      djbh_id = #{djbhId,jdbcType=VARCHAR},
      eflag = #{eflag,jdbcType=VARCHAR},
      spid = #{spid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>